@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-main: #00E789;
  --colors-sub: #E4EDEA;
  --colors-text: #1D1D1F;
  --colors-white: #FFFFFF;
  --colors-special: #006D41;
  --colors-label: #959595;
}

body {
  color: var(--colors-text);
  overflow-x: hidden;
}

body, div, dl, dt, dd, ul, ol, li, p, input, textarea {
  font-family: var(--font-text);
  font-size: 14px;
  /* color: var(--colors-text); */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

a {
  display: inline-block;
}

/* fix video black border */
video {
  clip-path: inset(0px);
}

@layer components {
  .wrap {
    @apply w-[1200px] mx-auto lg:w-full;
  }
  .menu-item {
    @apply flex justify-center items-center h-[62px] bg-sub font-title text-base font-bold hover:text-white hover:bg-text duration-300 lg:border lg:border-text lg:mb-[14px] lg:rounded-lg lg:h-[44px];
  }
  .mobile-wrap {
    @apply lg:pt-[160px] lg:pb-[76px] lg:px-6;
  }
  .abs-full {
    @apply absolute w-full h-full left-0 top-0
  }
}
